extends partials/main-layout.partial.pug

include partials/mixins.pug

block content
    p You have been invited to join OpenSCN! Use the following button to create your account!

    +cta(clientUrl + clientPath + "?" + clientQuery, "Register")

    p In case the link doesn't work, you can use the following token to create your account at
        a(href=clientUrl) http://localhost:5173
